body{
  background-color: #bdbec7; /* This is to show contrast */
  font-family: arial,sans-serif;
  color: #ffffff;
}

.wrapper{
  background-color:#1e2240; /* This is to show contrast */
  width: 92%;
  max-width:800px;
  margin:0 auto;
  padding: 12px 20px;
  color: #f2823a
}

h1{
  margin-bottom: .5em;
}

h2{
  margin-bottom: .25em;
  margin-top:1em;
}

h1,h2 {
  color: #000000;
}

blockquote {
  border-left: 4px solid #8B9AA5;
  padding: 12px;
  background-color: #ffffff;
  margin-left: 2;
  margin-right: 2;
}

img {
  margin-left: auto;
  margin-right: auto;

}

.caption{
  font-style: italic;
  margin-top: 0;
}

header{
  background-image: url(../images/spikes.png);
  border-bottom: 1px solid #00000;
  text-align: center;
}

a{
  color: #ffffff;
}

image{
  margin-left: auto;
  margin-right: auto;
  height:auto;
}

ul{
  padding-left:20px;
  margin-top:8px;
}

p{
  line-height:.5cm; /* This is to space out the text for proximity*/
}

footer.wrapper {
  text-align: center;
  padding: 40px 20px;
  border-top: 2px solid #ffffff;
}
